/*font Variables*/

$rob: 'Roboto',
sans-serif;
$pop: 'Poppins',
sans-serif;
/*Color Variables*/

$baseColor: #1641ff;
$dip: #222222;
$pfont: #777777;
/*=================== fonts ====================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700|Roboto:300,400,500,700');
// Mixins
@mixin transition($property: all,
$duration: 300ms,
$animate: linear,
$delay:0s) {
    transition: $property $duration $animate $delay;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

// Placeholder Mixins
@mixin placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

.col {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    @media(max-width: 480px) {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
    }
    @media(max-width: 991px) {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}
